@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-pale-blue font-custom text-base text-gray-500;
        background-image: url('./src/assets/pattern-background-mobile.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
}